* {
  margin: 0;
  padding: 0;

}
body {
  background-color: lightgray;
}


.error {
  color: red;
}

.container {
  width: 600px;
  height: 600px;
  background-color: darkgray;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 50px;
}
fieldset {
  width: 300px;
  margin: 0 auto;
}
